body{
  font-family: "Barlow Condensed", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1{
  padding: 2em 0 0;
  margin: 0;
}
h2 {
font-weight: normal;
padding: .75em 0 ;
}
input::placeholder{
  text-align: center;
}
#center{
  width: 95%;
  margin:  auto;
}

#header {
  background-color: #0a4d68;
  margin-top: 1em;
}

#header ul {
  margin: 0 0 1em;
  padding: 0;
  list-style: none;
  font-size: 0.7em;
}
#header li {
  list-style: none;
  width: 100%;
  margin: auto;
  padding: 1em 0;
}
#header li:hover {
  background-color: #088395;
}

#header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
  overflow: hidden;
}
.section-main {
  background-color: #088395;
  text-align: center;
}
.section-main p, .section-main #alert{
    padding: 1em;
}



.valor{
  box-sizing: border-box;
  margin: 1em auto;
  width: 15em;
  margin: 0 auto 1em;
  text-align: center;
}
button{
background-color: #0a4d68;
color: white;
border: #0a4d68 1px solid;
width: 11em;
margin: 0 auto 1em;
padding: .5em;
display: block;
cursor:pointer;
transition: all .5s linear;
}
button:hover{
  background-color: #1a6c78;
}
.inputs{
  background-color: white;
  border: 1px solid black;
  margin-bottom: 1.3em;
  padding: .5em;
  text-align: center;
}
#alert{
  cursor:pointer;
}

@media screen and (min-width: 40.625em){
  button{
    float: left;
    width: 15%;
    margin: 0 17.5% ;
    }
    .valor{
float: left;
width: 35%;
margin: 0 7.5% ;
    }

}
